<div fxLayout="column" fxLayoutGap="20px" class="container">
  <div fxLayout>
    <div fxFlex="50" fxLayout fxLayoutGap="2px">
      <mat-form-field fxFlex="70" class="ip-input-field" fxLayout="column" fxLayoutAlign="center">
        <input matInput placeholder="Address of OSC Server" [(ngModel)]="address">
      </mat-form-field>
      <button
              mat-button
              class="overlay-button"
              fxFlex="30"
              (click)="saveOSCWebSocketAddress()"
      >
        <mat-icon class="action-icon">save</mat-icon>
      </button>
    </div>
    <div fxFlex="50"></div>
  </div>
  <div fxLayout>
    <button
            mat-button
            class="overlay-button"
            fxFlex="50"
            (click)="connectToPi()"
    >
      Connect to Pi
    </button>
  </div>
</div>

