@import "src/scss/variables";

.ip-input-field {
  padding: 10px;
  background-color: $mcp-black-5;

  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em !important;
  }
}

.container {
  padding: 20px;
}

.overlay-button {
  padding: 10px;
  cursor: pointer;
  background-color: $mcp-black-5;
  border-radius: 0;
}
