<div fxLayout="column" fxLayoutAlign="stretch" class="container">
  <div fxFlex class="keyboard" fxLayout fxLayoutGap="10px" #keyboard>
    <div fxFlex id="c4" class="key" fxLayout fxLayoutAlign="center">C<small>4</small></div>
    <div fxFlex id="d4" class="key" fxLayout fxLayoutAlign="center">D<small>4</small></div>
    <div fxFlex id="e4" class="key" fxLayout fxLayoutAlign="center">E<small>4</small></div>
    <div fxFlex id="f4" class="key" fxLayout fxLayoutAlign="center">F<small>4</small></div>
    <div fxFlex id="g4" class="key" fxLayout fxLayoutAlign="center">G<small>4</small></div>
    <div fxFlex id="a4" class="key" fxLayout fxLayoutAlign="center">A<small>4</small></div>
    <div fxFlex id="b4" class="key" fxLayout fxLayoutAlign="center">B<small>4</small></div>
    <div fxFlex id="c5" class="key" fxLayout fxLayoutAlign="center">C<small>5</small></div>
  </div>
</div>
