<div fxLayout="column" style="height: 94vh; padding: 2px" fxLayoutGap="2px">
 <!-- <div fxLayout fxLayoutGap="10px">
    <button mat-flat-button color="accent" (click)="start()"><mat-icon>play_arrow</mat-icon> Play</button>
&lt;!&ndash;    <button mat-flat-button color="accent"><mat-icon>pause</mat-icon> Pause</button>&ndash;&gt;
    <button mat-flat-button color="accent" (click)="stop()"><mat-icon>stop</mat-icon> Stop</button>
  </div>-->

  <div class="menu" fxLayout fxFlex="10">
    <div fxFill fxLayout fxLayoutGap="2px">
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" (click)="start()" fxFlex="11.03"><mat-icon class="action-icon">play_arrow</mat-icon></button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" (click)="stop()" fxFlex="11.03"><mat-icon class="action-icon">stop</mat-icon></button>
      <div class="bpm-card" fxFlex fxLayout fxLayoutAlign="start center" fxLayoutGap="25px">
        <span fxFlex="5">{{bpm}}bpm</span>
        <mat-slider
                class="example-margin"
                max="180"
                min="50"
                step="1"
                [value]="bpm"
                fxFlex
                (input)="changeBpm($event)"
                (change)="updateMatrix()"
        >
        </mat-slider>
      </div>
    </div>
  </div>

  <div class="menu" fxLayout fxFlex="5">
    <div fxFill fxLayout fxLayoutGap="2px">
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="switchAllExpanded()">
<!--        <mat-icon><ng-container *ngIf="showRowNames;then showRowNamesTemplate else hideRowNamesTemplate"></ng-container></mat-icon>-->
        Drums
      </button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="previousMatrix()"><mat-icon class="action-icon">keyboard_arrow_left</mat-icon></button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="nextMatrix()"><mat-icon class="action-icon">keyboard_arrow_right</mat-icon></button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="clearMatrix()">Clear</button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex>Load Preset</button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex>Save as Preset</button>
      <div class="text-card" fxLayout fxLayoutAlign="center center" fxFlex>Bar 1</div>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex><mat-icon class="action-icon">keyboard_arrow_left</mat-icon></button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex><mat-icon class="action-icon">keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="2px" fxFlex style="overflow: auto">
    <div fxLayout *ngFor="let row of matrix; let rowIndex = index" fxLayoutGap="2px" [class.minHeightRow]="row.isExpanded" [fxFlex]="row.isExpanded ? '' : 4">
      <button (click)="switchRow(rowIndex)" mat-button class="row-card" fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="showRowNames">
        <span>{{row.name}}</span>
      </button>
      <a
              class="card"
              [class.played]="button.isPlayed && !button.isActive"
              [class.playedAndActive]="button.isPlayed && button.isActive"
              [class.active]="button.isActive"
              fxFlex *ngFor="let button of row.buttons; let column = index"
              fxLayout="column"
              fxLayoutAlign="end stretch"
              (click)="switch($event, rowIndex, column)"
              (contextmenu)="onContextMenu($event, button)"
              style="position: relative;"
      >
        <div class="velocity-slider" *ngIf="button.isActive" fxLayout>
          <mat-slider fxFlex style="height: 10px" (click)="clickedSlider()"></mat-slider>
        </div>

      </a>
    </div>
  </div>

  <div class="menu" fxLayout fxFlex="5">
    <div fxFill fxLayout fxLayoutGap="2px">
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex *ngIf="showRowNames">Beats <mat-icon>keyboard_arrow_right</mat-icon></div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>1</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>2</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>3</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>4</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>5</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>6</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>7</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>8</div>
    </div>
  </div>

</div>

<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-button="button">
    <button mat-menu-item [matMenuTriggerFor]="velocity">Velocity</button>
    <button mat-menu-item>Test</button>
    <button mat-menu-item>Test</button>

    <mat-menu #velocity="matMenu">
      <button mat-menu-item (click)="increaseVelocity($event, button)"><mat-icon>keyboard_arrow_up</mat-icon> Increase</button>
      <button mat-menu-item (click)="decreaseVelocity($event, button)"><mat-icon>keyboard_arrow_down</mat-icon> Decrease</button>
    </mat-menu>
  </ng-template>
</mat-menu>


<ng-template #showRowNamesTemplate>keyboard_arrow_down</ng-template>
<ng-template #hideRowNamesTemplate>keyboard_arrow_up</ng-template>

