<div fxLayout="column" style="padding: 2px" fxLayoutGap="2px" [ngStyle]="{'height': height}">

  <!-- Menu Row 1 -->
  <div class="menu" fxLayout fxFlex="10">
    <div fxFill fxLayout fxLayoutGap="2px">
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" (click)="showHelp()" fxFlex="calc(11.11% - 2px)" #helpButton>Help</button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" (click)="start()" fxFlex="calc(11.11% - 2px)" #playButtonElement><mat-icon class="action-icon">play_arrow</mat-icon></button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" (click)="stop()" fxFlex="calc(11.11% - 2px)" #stopButtonElement><mat-icon class="action-icon">stop</mat-icon></button>
      <div class="bpm-card" fxFlex="calc(44.45% - 2px)" fxLayout fxLayoutAlign="start center" fxLayoutGap="75px" #bpmSliderElement>
        <span fxFlex="5">{{bpm}}bpm</span>
        <mat-slider
                class="example-margin"
                max="180"
                min="50"
                step="1"
                [value]="bpm"
                fxFlex
                (input)="changeBpm($event)"
                (change)="updateMatrix()"
        >
        </mat-slider>
      </div>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" (click)="showEffectMenu()" fxFlex="calc(11.11% - 2px)" #effectButton>Effects</button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" (click)="switchNavigation()" fxFlex="calc(11.11% - 2px)"><mat-icon class="action-icon">menu</mat-icon></button>
    </div>
  </div>

  <!-- Menu Row 2 -->
  <div class="menu" fxLayout fxFlex="5">
    <div fxFill fxLayout fxLayoutGap="2px">
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="openInstrumentSelectionMenu()" #el>
        {{matrix.name}}
      </button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="previousMatrix()"><mat-icon class="action-icon">keyboard_arrow_left</mat-icon></button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="nextMatrix()"><mat-icon class="action-icon">keyboard_arrow_right</mat-icon></button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="clearMatrix()">Clear</button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="openPresetMenu()" #presetButton>Presets</button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="notYetImplemented()" >Metronom</button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="switchVelocity()" #velocityButtonElement>{{showVelocity ? 'Hide' : 'Show'}} Velocity</button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="notYetImplemented()"><mat-icon class="action-icon">keyboard_arrow_left</mat-icon></button>
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex (click)="notYetImplemented()"><mat-icon class="action-icon">keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

  <!-- Matrix -->
  <div fxLayout="column" fxLayoutGap="2px" fxFlex style="overflow: auto">
    <div
            fxLayout
            *ngFor="let row of getNonFoldedRows()"
            fxLayoutGap="2px"
            [class.minHeightRow]="row.isExpanded"
            [class.minHeightRowNotExpanded]="!row.isExpanded"
            fxFlex
    >
      <button
              (click)="switchRowExpansionMode(row)"
              mat-button
              class="row-card"
              fxFlex
              fxLayout="column"
              fxLayoutAlign="center center"
              *ngIf="showRowNames"
              longPress
              (contextmenu)="onContextMenuNoteButton($event, row)"
              (longPress)="onLongPressNoteButton($event, row)"
      >
        <span>{{row.name}}</span>
      </button>
      <!-- Row Button -->
      <a
              class="card"
              [class.played]="button.isPlayed && !button.isActive"
              [class.playedAndActive]="button.isPlayed && button.isActive"
              fxFlex *ngFor="let button of row.buttons; let column = index"
              fxLayout="column"
              fxLayoutAlign="end stretch"
              (click)="switchRowButtonActivationStatus($event, button)"
              longPress
              (contextmenu)="onContextMenuRowButton($event, button)"
              (longPress)="onLongPressRowButton($event, button)"
              style="position: relative;"
              [ngStyle]="{'background-color': button.isActive ? 'rgba(0,0,0,' + ((0.3-0.15)/1*(button.velocity-1)+0.3) +')' : 'rgba(0,0,0,.1)'}"
              #rowButtonElement
      >
        <!-- Velocity Slider -->
        <div class="velocity-slider" *ngIf="button.isActive && showVelocity" fxLayout #sliderElement>
          <mat-slider fxFlex style="height: 25px" (click)="onTapOnVelocitySlider()" (input)="setVelocity($event, button)" [value]="button.velocity" min="0" max="1" step="0.001"></mat-slider>
        </div>
      </a>
    </div>
  </div>

  <!-- Menu below matrix -->
  <div class="menu" fxLayout fxFlex="5">
    <div fxFill fxLayout fxLayoutGap="2px">
      <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex *ngIf="showRowNames" (click)="switchFold()" style="border-bottom-left-radius: 18px">Fold</button>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>1</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>2</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>3</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>4</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>5</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>6</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex>7</div>
      <div class="beat-card" fxLayout fxLayoutAlign="center center" fxFlex style="border-bottom-right-radius: 18px">8</div>
    </div>
  </div>

</div>

<!--region Context Menu-->
<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu"
      #contextMenuTrigger="matMenuTrigger">
</div>
<div style="visibility: hidden; position: fixed"
     [style.left]="effectContextMenuPosition.x"
     [style.top]="effectContextMenuPosition.y"
     [matMenuTriggerFor]="effectContextMenu"
     #effectContextMenuTrigger="matMenuTrigger">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-button="button">
    <button mat-menu-item [matMenuTriggerFor]="velocity">Velocity</button>
    <button mat-menu-item>Test</button>
    <button mat-menu-item>Test</button>

    <mat-menu #velocity="matMenu" overlapTrigger="false">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="increaseVelocity($event, button)"><mat-icon>keyboard_arrow_up</mat-icon> Increase</button>
        <button mat-menu-item (click)="decreaseVelocity($event, button)"><mat-icon>keyboard_arrow_down</mat-icon> Decrease</button>
        </ng-template>
    </mat-menu>
  </ng-template>
</mat-menu>

<mat-menu #effectContextMenu="matMenu">
  <ng-template matMenuContent let-instrument="instrument">
    <button mat-menu-item (click)="addReverb($event, instrument)" [class.off]="!isReverbUsed(instrument)">Reverb</button>
    <button mat-menu-item (click)="addPingPongDelay($event, instrument)" [class.off]="!isPingPongDelayUsed(instrument)">Ping Pong Delay</button>
  </ng-template>
</mat-menu>
<!--endregion-->

<!--region Overlay Templates-->
<!-- Instrument Selection Menu -->
<ng-template #tpl let-toppy>
  <div class="overlay" fxLayout="column" fxLayoutGap="2px">
    <div fxLayout fxLayoutGap="2px">
      <button
              mat-button
              class="overlay-button"
              fxFlex
              (click)="switchMatrix(matrix, index); toppy.close()"
              *ngFor="let matrix of matrixCollection; let index = index">{{matrix.name}}
      </button>
    </div>
    <div fxLayout>
      <button mat-button class="overlay-button" fxFlex (click)="switchAllExpanded()">
        <ng-container *ngIf="isInExpandedMode;then shrinkIconTemplate else expandIconTemplate"></ng-container>
        {{isInExpandedMode ? 'Shrink' : 'Expand'}} all rows
      </button>

      <!--region Arrow Templates-->
      <ng-template #shrinkIconTemplate><mat-icon>unfold_less</mat-icon></ng-template>
      <ng-template #expandIconTemplate><mat-icon>unfold_more</mat-icon></ng-template>
      <!--endregion-->
    </div>
  </div>
</ng-template>

<ng-template #presetMenuTemplate let-toppy>
  <div class="overlay" fxLayout="column" fxLayoutGap="2px">
    <div fxLayout="column" fxLayoutGap="2px">
      <div fxLayout fxLayoutGap="2px">
        <button
                mat-button
                class="overlay-button"
                fxFlex
                (click)="setChordProgression(); toppy.close()"
        >
          Piano Chords
        </button>
        <button
                mat-button
                class="overlay-button"
                fxFlex
                (click)="setDrumBeat(); toppy.close()"
        >
          Drum Beat
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #helpMenuTemplate let-toppy>
  <div class="overlay" fxLayout="column" fxLayoutGap="2px">
    <div fxLayout="column" fxLayoutGap="2px">
      <div fxLayout fxLayoutGap="2px">
        <button
                mat-button
                class="overlay-button"
                fxFlex
                (click)="showVelocityHelp(); toppy.close()"
        >
          Velocity
        </button>
      </div>
      <div fxLayout fxLayoutGap="2px">
        <button
                mat-button
                class="overlay-button"
                fxFlex
                (click)="showTutorial(); toppy.close()"
        >
          Tutorial
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #effectMenuTemplate let-toppy>
  <div class="overlay" fxLayout="column" fxLayoutGap="2px">
    <div fxLayout fxLayoutGap="2px">
      <button
              mat-button
              class="overlay-button"
              fxFlex
              (click)="switchReverbOnMaster()"
              [class.off]="!useReverbOnMaster"
      >
        Reverb (Master)
      </button>
    </div>
    <div fxLayout fxLayoutGap="2px">
      <button
              mat-button
              class="overlay-button"
              fxFlex
              (click)="switchPingPongDelayOnMaster()"
              [class.off]="!usePingPongDelayOnMaster"
      >
        PingPongDelay (Master)
      </button>
    </div>
    <div fxLayout fxLayoutGap="2px">
      <button
              mat-button
              class="overlay-button"
              fxFlex
              (click)="switchEQOnMaster()"
              [class.off]="!useEQOnMaster"
      >
        EQ (Master)
      </button>
    </div>
  </div>
</ng-template>
<!--endregion-->
