<div class="menu" fxLayout [hidden]="(isClosed | async) === true">
  <div fxFill fxLayout fxLayoutGap="2px">
    <a fxFlex="calc(11.11% - 2px)" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px" routerLink="" class="main-nav-link action-button">
      <img height="30px" alt="logo" src="assets/logo.svg">
    </a>
<!--    <button mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex="calc(11.11% - 2px)"><mat-icon class="action-icon">stop</mat-icon></button>-->
    <div fxFlex="calc(11.11% - 2px)"></div><!-- spacer -->
    <div fxFlex="calc(66.67% - 2px)"></div><!-- spacer -->
    <button routerLink="/prototype" mat-button class="action-button" fxLayout fxLayoutAlign="center center" fxFlex="calc(11.11% - 2px)">Prototype</button>
  </div>
</div>
