@import "src/scss/variables";

.main-nav-link {
  text-decoration: none;
  color: white;
}

[hidden] {
  display: none !important;
}

.menu {
  color: $mcp-white-1;
  min-height: 55px;
  padding: 2px 2px 0;
}

.action-button {
  padding: 10px;
  cursor: pointer;
  background-color: $mcp-black-4;
  border-radius: 0;
}
.action-button:hover {
  background-color: $mcp-black-4-hover;
}
