@import "src/scss/variables";

.container {
  padding: 10px;
  height: 100%;
}

.item {
  background-color: $mcp-black-3;
  margin: 10px;
  border-radius: 3px;
  color: $mcp-white-1;
  font-weight: 600;
  font-size: 25px;

  div {
    height: 100%;
  }

  small {
    margin-top: 15px;
    margin-left: 1px;
    font-size: 12px;
  }
}

.spacer {
  margin: 10px;
}

.degree {
  margin-top: 20px;
  color: $mcp-black-5
}
