@import "src/scss/variables";

.container {
  padding: 8px;

  .dashboard-button {
    padding: 10px;
    cursor: pointer;
    background-color: $mcp-black-5;
    border-radius: 0;
    border: 2px solid $mcp-black-1;
    flex: none;
  }

  button {
    flex: 1 !important;
  }
}

.off {
  color: $mcp-white-2 !important;
}
