<div class="container" fxLayout="column" fxLayoutGap="20px">

  <div>
    <span>Order (From the bottom left to the top. From there to the right. Right down is the last element.)</span>
    <ul>
      <span *ngFor="let str of data">{{ str }} </span>
    </ul>
  </div>

  <div #block>
    <div fxLayout="column" style="width: 100%;">
      <div fxLayout fxLayoutGap="10px">
        <div class="item">
          <div fxLayout fxLayoutAlign="center center" id="1">
            {{getNote(1)}}<small>3</small>
          </div>
        </div>
        <div class="item">
          <div fxLayout fxLayoutAlign="center center" id="2">
            {{getNote(2)}}<small>3</small>
          </div>
        </div>
        <div class="item">
          <div fxLayout fxLayoutAlign="center center" id="3">
            {{getNote(3)}}<small>3</small>
          </div>
        </div>
      </div>
      <div fxLayout fxLayoutGap="10px">
        <div class="item">
          <div fxLayout fxLayoutAlign="center center" id="0">
            {{getNote(0)}}<small>3</small>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="item">
          <div fxLayout fxLayoutAlign="center center" id="4">
            {{getNote(4)}}<small>3</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
