<div class="container" fxLayout fxLayoutAlign="space-around">
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div fxFlex><canvas #canvasMaster style="width: 75px; height: 35vh"></canvas></div>
    <span class="meterName">Master</span>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div fxFlex><canvas #canvasMat style="width: 75px; height: 35vh"></canvas></div>
    <span class="meterName">The Mat</span>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div fxFlex><canvas #canvasBox style="width: 75px; height: 35vh"></canvas></div>
    <span class="meterName">The Box</span>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div fxFlex><canvas #canvasArc style="width: 75px; height: 35vh"></canvas></div>
    <span class="meterName">The Arc</span>
  </div>
</div>
