<div class="container" fxLayout fxLayoutAlign="space-around">
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div fxFlex><canvas #canvasMaster style="width: 75px; height: 35vh"></canvas></div>
    <span class="meterName">Master</span>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div fxFlex><canvas #canvasKick style="width: 75px; height: 35vh"></canvas></div>
    <span class="meterName">Kick</span>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div fxFlex><canvas #canvasSnare style="width: 75px; height: 35vh"></canvas></div>
    <span class="meterName">Snare</span>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div fxFlex><canvas #canvasHiHat style="width: 75px; height: 35vh"></canvas></div>
    <span class="meterName">HiHat</span>
  </div>
</div>
