<div fxLayout="column" style="padding: 2px; height: 100%" fxLayoutGap="2px">
  <div fxLayout="column" fxLayoutGap="2px" fxFlex style="overflow: auto">

    <!-- Row 1 -->
    <div
            fxLayout
            fxLayoutGap="2px"
            fxFlex
    >
      <div
              class="card"
              fxFlex
              fxLayout="column"
              fxLayoutAlign="end stretch">
        Test 1
      </div>
      <div
              class="card"
              fxFlex
              fxLayout="column"
              fxLayoutAlign="end stretch">
        Test 2
      </div>
    </div>

    <!-- Row 2 -->
    <div
            fxLayout
            fxLayoutGap="2px"
            fxFlex
    >
      <div
              class="card"
              fxFlex
              fxLayout="column"
              fxLayoutAlign="end stretch">
        Test 1
      </div>
      <div
              class="card"
              fxFlex
              fxLayout="column"
              fxLayoutAlign="end stretch">
        Test 2
      </div>
    </div>

  </div>
</div>
